	letter	digit	&	(	other	retro	type
0	1	7	3	6	-	-	-
1	1	1	2	2	2	-	-
2	-	-	-	-	-	0	id
3	5	5	4	5	5 	-	-
4	-	-	-	-	-	0	and_l
5	-	-	-	-	-	0	and_b
6	-	-	-	-	-	0	p_a
7	8	7	8	8	8	-	-
8	-	-	-	-	-	0	entero_sin_signo
