	letter	digit	>	=	&	|	other	retro	type
0	1	-	3	-	6	9	-	-	-
1	1	1	2	2	2	2	2	-	-
2	-	-	-	-	-	-	-	0	id
3	-	-	-	4	-	-	- 	-	-
4	-	-	-	-	-	-	-	0	mayor_igual
5	-	-	-	-	-	-	-	0	or_b
6	8	8	8	8	7	8	8	-	-
7	-	-	-	-	-	-	-	0	and_l
8	-	-	-	-	-	-	-	0	and_b
9	5	5	5	5	5	10	5	-	-
10	-	-	-	-	-	-	-	0	or_l
